<!DOCTYPE html>
<html>
<head>
    <title>Workplaces</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'checkin/css/workplace_list.css' %}">
</head>
<body>
    <h1>Select a Workplace</h1>
    <ul>
        {% for workplace in workplaces %}
            <li>
                <a href="{% url 'checkin_checkout' workplace.id %}">
                    {{ workplace.name }} - {{ workplace.location }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <form method="post" action="{% url 'logout' %}" class="logout-form">
        {% csrf_token %}
        <button type="submit" class="logout-button">Logout</button>
    </form>
</body>
</html>