body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    
    
}

form input[type="text"],
form input[type="password"] {
    width: 50%; /* Makes input fields take full width of the container */
    max-width: 400px; /* Prevents excessive stretching on large screens */
    padding: 12px; /* Slightly larger padding for better usability */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px; /* Enlarges text inside the input */
}

form button {
    padding: 15px;
    background: linear-gradient(90deg, #007bff, #0056b3);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px; /* Increase font size */
    
}

form button:hover {
    background-color: #0056b3;
}

.register-link {
    margin-top: 10px;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}