/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* COLOR VARIABLES */
:root {
  --primary-color: #0D1936;
  --secondary-color: #535354;
  --background-color: #EFEFEF;
  --white-color: #FFF;
  --black-color: #000;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --transition: 0.3s;
}

/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* CONTAINER */
.container {
  width: 400px;
  background-color: var(--white-color);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 8px 15px var(--shadow-color);
}

/* HEADER */
.container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}

/* FORM ELEMENTS */
.container form {
  display: flex;
  flex-direction: column;
}

.container form p {
  margin-bottom: 15px;
}

.container form input[type="text"],
.container form input[type="email"],
.container form input[type="password"] {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 15px;
  border: 1px solid #E3E4E6;
  border-radius: 4px;
  font-size: 16px;
  transition: border var(--transition);
}

.container form input[type="text"]:focus,
.container form input[type="email"]:focus,
.container form input[type="password"]:focus {
  border-color: var(--primary-color);
  outline: none;
}

/* BUTTON */
.container form button {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color var(--transition);
}

.container form button:hover {
  background-color: var(--secondary-color);
}

/* MESSAGES (e.g., error or success messages) */
.container ul {
  list-style: none;
  margin-bottom: 20px;
  padding: 0;
}

.container ul li {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  border-radius: 4px;
}

/* SWITCH FORM LINK */
.switch-form {
  text-align: center;
  margin-top: 20px;
}

.switch-form a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
  transition: color var(--transition);
}

.switch-form a:hover {
  color: var(--secondary-color);
}
